.localisation{
  background-color: #eaeaea;
  text-align: center;
  color: #575757;
  font-size: 16px;
  i{
    margin-right: 20px;
  }
  &-text{
    padding: 20px 0;
  }
}

.reservation{
  text-align: center;
  background-color: #f6f6f6;
  &-content{
    padding: 45px 20px 60px 20px;
    h1{
      font-size: 1.7em;
    }
    p{
      color: #4d4d4d;
      margin-bottom: 40px;
    }
  }
  &-button{
    background: linear-gradient(#eb73d9, #9f5adc);
    padding: 18px 22px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
  }
}

.fonctionnement{
  display: flex;
  flex-direction: column;
  padding: 50px 22px;
  h2{
    flex: 100%;
  }
  &-card{
    display: flex;
    align-content: center;
    background-color: #f6f6f6;
    margin: 25px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #e5e5e5;
    font-weight: 600;
    i{
      color: #787878;
      margin-right: 20px;
    }
    transition: all 0.8s;
    &:hover{
      background-color: #f5edff;
      i{
        color: #9356dc;
      }
    }
  }
  &-number{
    background-color: #9356dc;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    font-size: 13px;
    margin: 25px 0 0 -13px;
  }
  &-text{
    padding: 30px 0 30px 40px;
  }
}