.localisation{
  background-color: #eaeaea;
  text-align: center;
  color: #575757;
  font-size: 16px;
  i{
    margin-right: 20px;
  }
  &-text{
    padding: 20px 0;
  }
}

.reservation{
  text-align: center;
  background-color: #f6f6f6;
  &-content{
    padding: 45px 20px 60px 20px;
    h1{
      font-size: 1.7em;
    }
    p{
      color: #4d4d4d;
      margin-bottom: 40px;
    }
  }
  &-button{
    background: linear-gradient(#eb73d9, #9f5adc);
    padding: 18px 22px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
  }
}