header{
  text-align: center;
  box-shadow: 0 3px 3px #cecece;
  margin-bottom: 3px;
  position: relative;
  &.no-margin{
    margin-bottom: 0;
  }
  .logo{
    padding: 18px 0 8px 0;
    img{
      height: 31px;
    }
  }
  .return{
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    &:hover, &:active{
      color: black;
      text-decoration: none;
    }
  }
}