// Disparition du spinner
@keyframes waiting-spinner {
  to{
    opacity: 0;
  }
}

// Affichage du menu
@keyframes show-menu {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateY(-70px);
  }
}

// Rotation du spinner
@keyframes rotate {
  to{
    transform: rotate(360deg);
  }
}

// Affichage des plats du menu
@keyframes display-item {
  0%{ opacity: 0; }
  100%{ opacity: 1 }
}