/* Version TABLETTE et plus */
@media (min-width: $mediumDevice) {
  .fonctionnement{
    padding: 50px 22px;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .restaurant{
    &-content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    h2{
      margin-bottom: 50px;
      text-align: center;
    }
    &-card{
      width: 45%;
      margin: 0 0 30px 30px;
    }
    &-description{
      &-text {
        width: 100%;
      }
    }
  }
  .menu{
    &-restaurant{
      justify-content: center;
      &-icon{
        justify-items: end;
        width: 50px;
      }
    }
    &-content{
      margin: 0 auto;
      width: 70%;
    }
  }
}