/* TABLETTE */
@media (min-width: $mediumDevice) {
  .fonctionnement{
    padding: 50px 22px;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .restaurant{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-card{
      width: 45%;
      margin: 0 0 30px 30px;
    }
    &-description{
      &-text {
        width: 85%;
      }
    }
  }
}

/* ORDINATEUR */
@media (min-width: $largeDevice) {

}